/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Agency
import io.swagger.client.model.Assessment
import io.swagger.client.model.Client
import io.swagger.client.model.Nurse
import io.swagger.client.model.Pseudonym
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * Gets a list of Pseudonyms
   * 
   * Expected answers:
   *   code 200 : Seq[Pseudonym] (An array of Pseudodyms)
   * 
   * @param assessment The name of the Assessment to return the pseudonyms for
   */
  def getPseudonymGet(assessment: String): ApiRequest[Seq[Pseudonym]] =
    ApiRequest[Seq[Pseudonym]](ApiMethods.GET, "https://virtserver.swaggerhub.com/NurseFamilyPartnership/NFP_DW_DC_Interface/1.0.0", "/get/Pseudonym", "application/json")
      .withQueryParam("Assessment", assessment)
      .withSuccessResponse[Seq[Pseudonym]](200)
        /**
   * Posts &#x60;Agency&#x60; to NFP
   * 
   * Expected answers:
   *   code 200 :  (Successful response)
   * 
   * @param agency Agency add or update
   */
  def postAgencyPost(agency: Agency): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/NurseFamilyPartnership/NFP_DW_DC_Interface/1.0.0", "/post/Agency", "application/json")
      .withBody(agency)
      .withSuccessResponse[Unit](200)
        /**
   * Posts a &#x60;Assessment&#x60; to NFP
   * 
   * Expected answers:
   *   code 200 :  (Successful response)
   * 
   * @param assessment Nurse add or update
   */
  def postAssessmentPost(assessment: Assessment): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/NurseFamilyPartnership/NFP_DW_DC_Interface/1.0.0", "/post/Assessment", "application/json")
      .withBody(assessment)
      .withSuccessResponse[Unit](200)
        /**
   * Posts a &#x60;Client&#x60; record to NFP
   * 
   * Expected answers:
   *   code 200 :  (Successful response)
   * 
   * @param client Client add or update
   */
  def postClientPost(client: Client): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/NurseFamilyPartnership/NFP_DW_DC_Interface/1.0.0", "/post/Client", "application/json")
      .withBody(client)
      .withSuccessResponse[Unit](200)
        /**
   * Posts a &#x60;Nurse&#x60; record to NFP
   * 
   * Expected answers:
   *   code 200 :  (Successful response)
   * 
   * @param nurse Nurse add or update
   */
  def postNursePost(nurse: Nurse): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/NurseFamilyPartnership/NFP_DW_DC_Interface/1.0.0", "/post/Nurse", "application/json")
      .withBody(nurse)
      .withSuccessResponse[Unit](200)
      

}

